<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center">
      <div class="col-lg-10 text-center">
          <img src="../../assets/img/404.png" alt="404 Not Found" class="my-4 w-50">
          <h4>Page not found</h4>
          <p class="fs-5 text-muted mb-5">The page you are searching is currently not available.<br> This may be because the page does not exist or has been removed.</p>
          <a (click)="logout()" class="btn btn-success btn-lg" style="background-color: #0062cc;"><i class="bi bi-house-door"></i> Back to Home</a>
      </div>
  </div>
</div>
