.content {
  padding-top: 60px; /* Same height as the header */
  padding-left: 20px; /* Same height as the header */
  padding-right: 10px; /* Same height as the header */
  background-color: #FFFBEE;
}
