.content {
  padding-top: 60px; /* Same height as the header */
  padding-left: 20px; /* Same height as the header */
  padding-right: 10px; /* Same height as the header */
  background-color: #FFFBEE;
}

.madotory{
  margin-top: 30px;
  color: rgb(199, 8, 8);
  font-style: italic;
  font-size: 17px;
  font-weight: 500;
  text-align: end;
}
