.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #a82323;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  font-family: 'Playfair Display', serif;
}

.logo {
  height: 45px;
  margin-right: 10px;
}

.project-title h1 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}

.project-title span {
  display: block;
  font-size: 16px;
  font-style: italic;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right i {
  font-size: 25px;
  color: white;
  margin-left: 30px;
  cursor: pointer;
}

.profile-dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  background-color: rgb(223, 217, 217);
}

.profile-dropdown:hover .dropdown-menu {
  display: block;
}

.profile-dropdown:hover .dropdown-list {
  display: block;
}
.profile-dropdown:hover .dropdown-sett {
  display: block;
}

.dropdown-list {
  display: none;
  width: 400px;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: rgb(247, 247, 247);
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.dropdown-list p {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: black;
  margin-bottom: -1ch;
  cursor: pointer;
}

.dropdown-list p:hover {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: black;
  background-color: #dfd9d9;
}

.dropdown-sett {
  display: none;
  width: 200px;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: rgb(247, 247, 247);
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.dropdown-sett p {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: black;
  margin-bottom: -1ch;
}

.dropdown-sett p:hover {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: black;
  background-color: #dfd9d9;
}

.example-container {
  height: 500px;
  overflow: auto;
}

.notification-item {
  display: flex;
  align-items: center; /* Align items vertically centered */
}

.notification-item i {
  margin-right: 5px; /* Space between icon and text */
  font-size: 1.2em;   /* Adjust the icon size as needed */
  color: #388087;
}
